/* .App {
  text-align: center;
} */

.App {
  background-color: #3e434e;
  min-height: 100vh;
  min-width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 1vmin);
  color: white;
  border: 2px red;
}
form {
  text-align: center;
  width: 70%;
}
.btn {
  background-color: rgb(89, 89, 255);
  padding: 10px 40px;
  border-radius: 20px;
  outline: none;
}
