/* .App {
  text-align: center;
} */

.App {
  background-color: #3e434e;
  min-height: 100vh;
  min-width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 1vmin);
  color: white;
  border: 2px red;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  min-height: 400px;
  box-shadow: 5px 5px 10px rgba(0, 1, 6, 0.5), -3px -3px 10px rgba(0, 1, 6, 0.5);
}
label {
  font-size: 16px;
}
.btn {
  background-color: rgb(89, 89, 255);
  padding: 10px 40px;
  border-radius: 20px;
  outline: none;
}
